body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-family: sans-serif;
  }
  
  .character-row {
    cursor: pointer;
  }
  
  #character-detail {
    position: fixed;
    right: 0;
    padding: 25px;
    background-color: #666;
    color: white;
    font-size: 140%;
    height: 100vh;
  }
  
  .thumbnail {
    border-radius: 50%;
    margin: 15px;
    vertical-align: middle;
  }
  
  button{
    border-radius: 7px;
    background-color: rgb(171, 247, 222);
    margin-bottom: 5px;
    min-height: 50px;
    max-width: 20% ;
  }